body {
  background-color: #edeaea;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
/*     Header     */
.header-title,
.header-description {
  margin: 0;
  padding: 5px 0 5px 10px;
  font-weight: bold;
}

.menu__ul {
  display: flex;
  margin: 0;
  padding: 5px 10px;
}

.menu__ul-li {
  width: 20%;
  height: 50px;
  list-style: none;
}

.btn {
  width: 100%;
  height: inherit;
  color: #c84451;
  background-color: #cccccc;
  border: none;
  font-weight: bold;
  border-radius: 0px;
  background: #cccccc;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-first {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn-end {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn:hover {
  color: #ffffff;
  background-color: #c84451;
  cursor: pointer;
}

.main-container {
  background-color: #ffffff;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}
.main__description {
  grid-column-start: 1;
  grid-column-end: 3;
}
.main__description-featuredEntry {
  font-weight: bold;
}
.main__description-title {
  color: #c84451;
  cursor: pointer;
}
.main__container-image {
  /* width: 300; */
  /* height: 180px; */
  padding: 10px;
  cursor: pointer;
  border: 1px solid #edeaea;
  grid-column-start: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__container-image img {
  width: 100%;
  height: 100%;
}

.articles__container {
  background-color: #ffffff;
  margin: 0 10px 0 10px;
  padding: 15px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}
.articles__author {
  border-bottom: 1px solid #edeaea;
}
.articles__author span {
  color: #c84451;
  cursor: pointer;
}
.articles__description {
  grid-column-start: 2;
  grid-column-end: 4;
  padding-bottom: 15px;
  border-bottom: 1px solid #edeaea;
}
.articles__description-title {
  color: #c84451;
  cursor: pointer;
}
.articles__description span {
  color: #c84451;
  font-weight: bold;
  cursor: pointer;
}
.articles__author4 span {
  color: #c84451;
  cursor: pointer;
}
.articles__description4 {
  grid-column-start: 2;
  grid-column-end: 4;
  padding-bottom: 15px;
}

.articles__description4 span {
  color: #c84451;
  cursor: pointer;
  font-weight: bold;
}

.lastSection__container {
  background-color: #ffffff;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}
.lastSection__container__image {
  width: 300px;
  height: 150px;
  /*  border: 1px solid $primary-color; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.lastSection__image img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lastSection__description {
  grid-column-start: 2;
  grid-column-end: 4;
}

.footer__container {
  margin: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__socialMedia {
  height: 50px;
}
.footer__socialMedia img {
  margin: 0 5px;
  height: inherit;
  cursor: pointer;
}

.container {
  /* border: 1px solid red; */
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}
