@font-face {
  font-family: "icomoon";
  src: url("../assets/fonts/icomoon.eot?euqooe");
  src: url("../assets/fonts/icomoon.eot?euqooe#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/icomoon.ttf?euqooe") format("truetype"),
    url("../assets/fonts/icomoon.woff?euqooe") format("woff"),
    url("../assets/fonts/icomoon.svg?euqooe#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}

body {
  background-color: #edeaea;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
/*     Header     */
.header-title,
.header-description {
  margin: 0;
  padding: 5px 0 5px 10px;
  font-weight: bold;
}

.menu__ul {
  display: flex;
  margin: 0;
  padding: 5px 10px;
}

.menu__ul-li {
  width: 20%;
  height: 50px;
  list-style: none;
}

.btn {
  width: 100%;
  height: inherit;
  color: #c84451;
  background-color: #cccccc;
  border: none;
  font-weight: bold;
  border-radius: 0px;
  background: #cccccc;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-first {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn-end {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn:hover {
  color: #ffffff;
  background-color: #c84451;
  cursor: pointer;
}

.main-container {
  background-color: #ffffff;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}
.main__description {
  grid-column-start: 1;
  grid-column-end: 3;
}
.main__description-featuredEntry {
  font-weight: bold;
}
.main__description-title {
  color: #c84451;
  cursor: pointer;
}
.main__container-image {
  /* width: 300; */
  /* height: 180px; */
  padding: 10px;
  cursor: pointer;
  border: 1px solid #edeaea;
  grid-column-start: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__container-image img {
  width: 100%;
  height: 100%;
}

.articles__container {
  background-color: #ffffff;
  margin: 0 10px 0 10px;
  padding: 15px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}
.articles__author {
  line-height: 30px;
  border-bottom: 1px solid #edeaea;
}
.articles__author span {
  color: #c84451;
  cursor: pointer;
}
.articles__description {
  grid-column-start: 2;
  grid-column-end: 4;
  padding-bottom: 15px;
  border-bottom: 1px solid #edeaea;
}
.articles__description-title {
  color: #c84451;
  cursor: pointer;
}
.articles__description span {
  color: #c84451;
  font-weight: bold;
  cursor: pointer;
}

.lastSection__container {
  background-color: #ffffff;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}
.lastSection__container__image {
  width: 300px;
  height: 150px;
  /*  border: 1px solid $primary-color; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.lastSection__image img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lastSection__description {
  grid-column-start: 2;
  grid-column-end: 4;
}

.footer__container {
  margin: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__socialMedia {
  height: 50px;
}
.footer__socialMedia img {
  margin: 0 5px;
  height: inherit;
  cursor: pointer;
}

.container {
  /* border: 1px solid red; */
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 5px;
  color: white;
}

@media screen and (max-width: 767px) {
  .header {
    text-align: center;
  }
  .burger-button {
    display: block;
  }
  .menu__ul {
    display: inline-block;
  }
  .menu__ul-li {
    width: 100%;
    height: 50px;
  }
  .menu__ul-li a {
    justify-content: center;
    height: 40px;
    font-size: 2em;
    text-decoration: none;
    margin-bottom: 0.5em;
  }
  .menu {
    position: fixed;
    background-color: rgba(204, 204, 204, 0.7);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    /* height: 100vh; */
    bottom: 0;
    display: flex;
    align-items: center;
    transition: 0.3s;
  }
  .menu.is-active {
    left: 0;
    justify-content: center;
  }
  .btn {
    width: 100%;
    height: inherit;
    color: #c84451;
    background-color: rgba(204, 204, 204, 0.2);
    border: none;
    font-weight: bold;
    border-radius: 0px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn:hover {
    background-color: rgba(200, 68, 81, 0.3);
  }
  .main-container {
    display: flex;
  }
  .main__container-image {
    /* width: 300px; */
    height: 150px;
  }
  .articles__container {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .lastSection__container {
    display: flex;
  }
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .main-container {
    flex-wrap: wrap;
  }
  .main__container-image {
    width: auto;
    height: 180px;
  }

  .lastSection__container {
    flex-wrap: wrap;
  }
  .lastSection__container__image {
    width: 200px;
    height: 100px;
  }

  .footer,
  .footer__container {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .main__container-image {
    width: 200;
    height: 80px;
  }

  .lastSection__container {
    flex-wrap: wrap;
  }
  .lastSection__container__image {
    width: 200px;
    height: 80px;
  }
}
